.nav{
    width:100%;
    height:80px;

    border-bottom: 2px solid #000;
}
.nav h1{
    float:left;
    color:#000;
    margin-left:5%;
    margin-right:15%
}
.nav ul{
    text-decoration: none;
    display: inline-block;
    text-align:centre;
    
}

.nav ul li{
    text-decoration: none;
    display: inline-block;
    text-align:centre;
}
.nav ul li a{
    text-decoration: none;
    display: inline-block;
    text-align:centre;
    margin-left: 20px;
    font-size: 17px;
    margin-top:13px;
    color:#000;
}
.nav .btn{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right:30px;
    margin-left: 20%;
    background-color: #fff;
    border:none;
    font-size:15px;
}
.nav .btn1{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right:30px;
    margin-left: 1%;
    background-color: #FF5349;
    border-radius:5px;
    border:none;
}
.banner1{
width:35%;
height:600px;
float:left;
margin-left:15%;
}
.banner2{
    width:33%;
    height:400px;
    float:left;
    background-color:#fff;
    margin-right:15%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-top:100px;
     
    }
    .banner2 img{
        height:400px;
        width:500px;
        padding-right:100px;
        padding-bottom:100px;
        margin-left:-100px;
    }
    .banner1 h1{
    font-size: 40px;
    margin-top: 200px;
        }
   .banner1 p{
     font-size: 18px;
     }
     .banner1 .btn{
        padding-top:10px;
        padding-bottom:10px;
        padding-left:30px;
        padding-right:30px;
        border-radius: 5px;
        background-color: #FF5349;
        font-weight:700;
        border:none;
    
    }
    .banner1 .btn1{
        padding-top:10px;
        padding-bottom:10px;
        padding-left:30px;
        padding-right:30px;
        margin-left: 5%;
        background-color: #fff;
        border-radius: 5px;
        border-color:#FF5349;
        color:#FF5349;
        font-weight:700;
        

    }              

.content h1{
font-size: 25px;
margin-top: 20px;
margin-left:15%;
 }
 .content{
    float:left;
    width:100%;
    margin-top: 50px;

 }
 .categories{
    width:100%;
    float:left;
 }
 

 .mercedes{
    float:left;
    background-color: #FF5349;
    border-radius: 5px;
    width: 7%;
    height:45px;
    margin-left:15%;
 }
 .mercedes p{
font-weight:bold;
text-align:right;
 
 }
 .audi{
    float:left;
    background-color: #FFf;
    border-radius: 5px;
    width: 7%;
    height:45px;
    margin-left:1%;
    border-color:#000;
    border: 1px solid #000;
 }
 .audi p{
    font-weight:bold;
    text-align:right;
 
     }
 .honda{
    float:left;
    background-color: #FFf;
    border-radius: 5px;
    width: 7%;
    height:45px;
    margin-left:1%;
    border-color:#000;
    border: 1px solid #000;
 }
 .honda p{
    font-weight:bold;
    text-align:right;
 
     }
 .toyota{
    float:left;
    background-color: #FFf;
    border-radius: 5px;
    width: 7%;
    height:45px;
    margin-left:1%;
    border-color:#000;
    border: 1px solid #000;
 }
 .toyota{
    font-weight:bold;
    text-align:right;
 
     }
 .mazda{
    float:left;
    background-color: #FFf;
    border-radius: 5px;
    width: 7%;
    height:45px;
    margin-left:1%;
    border-color:#000;
    border: 1px solid #000;
 }
 .mazda{
    font-weight:bold;
    text-align:right;
 
     }
 .Explore{
    float:left;
    background-color: #FFf;
    border-radius: 5px;
    width: 7%;
    height:45px;
    margin-left:1%;
    border-color:#000;
    border: 1px solid #000;
 }
 .Explore{
    font-weight:bold;
    text-align:right;
 
     }
     span{
        color:#FF5349;
     }

     .car1{
        width:20%;
        height: 400px;
        border-radius: 5px;
        float:left;
        margin-left:15%;
        margin-top:40px;
        padding-left:20px;
        padding-top:30px;
        padding-right:20px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
     }
     .car1 img{
        height:200px;
        width:300px;
        padding:15px;
        
     }
     .car2{
        width:20%;
        height: 400px;
        background-color: #fff;
        border-radius: 5px;
        float:left;
        margin-left:3%;
        margin-top:40px;
        padding-left:20px;
        padding-top:30px;
        padding-right:20px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
     }
     .car2 img{
        height:200px;
        width:300px;
        padding:15px;
     }
     
     .car3{
        width:20%;
        height: 400px;
        background-color: #fff;
        border-radius: 5px;
        float:left;
        margin-left:3%;
        margin-top:40px;
        padding-left:20px;
        padding-top:30px;
        padding-right:20px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
     }
     .car3 img{
        height:200px;
        width:300px;
        padding:15px;
        float:left;
        
     }
     .car1 h1{
        font-size:17px;
        text-align:centre;
     }
     .car1 .btn1{
        padding-top:10px;
        padding-bottom:10px;
        padding-left:30px;
        padding-right:30px;
        margin-left: 1%;
        background-color: #FF5349;
        border-radius: 5px;
        margin-top:30px;
        float:left;
        border:none;

    }
     
    
     .car2 h1{
        font-size:17px;
     }
     .car2 .btn1{
        padding-top:10px;
        padding-bottom:10px;
        padding-left:30px;
        padding-right:30px;
        margin-left: 1%;
        background-color: #FF5349;
        border-radius: 5px;
        margin-top:30px;
        float:left;
        border:none;

    }
    .car3 h1{
        font-size:17px;
     }
     .car3 .btn1{
        padding-top:10px;
        padding-bottom:10px;
        padding-left:30px;
        padding-right:30px;
        margin-left: 1%;
        background-color: #FF5349;
        border-radius: 5px;
        margin-top:30px;
        float:left;
        border:none;

    }

    .happy{
        width:70%;
        height:100px;
        float:left;
        margin-top:60px;
        margin-left:15%;
        margin-right:15%;
    }
    #happy{
        width:73%;
        height:150px;
        float:left;
        margin-top:20px;
        margin-left:15%;
        margin-right:15%; 
    
     }
    .img1{
        width:26.5%;
        height: 150px;
        background-color: #fff;
        float:left;
    }
    .img1 img{
        height:180px;
        width:400px;
        
    }
     .img2{
        width:26.5%;
        height: 150px;
        background-color: #fff;
        float:left;
        margin-left:10%;
        
     }
     .img2 img{
        height:180px;
        width:400px;
        
    }
     .img3{
        width:26.5%;
        height: 150px;
        background-color: #fff;
        float:left;
        margin-left:10%;
        
     }
     .img3 img{
        height:180px;
        width:400px;
    
    }